<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>タスク一覧</title>
</head>
<body>
<a th:href="@{/tasks/new}" class="btn btn-primary" role="button">作成</a>
<p th:if="${tasks.isEmpty()}">タスクがありません。</p>
<input type="text"/>
<ul th:unless="${tasks.isEmpty()}">
    <li th:each="task: ${tasks}">
        <a th:href="@{/tasks/{id}/edit(id=${task.id})}">
            <span th:unless="${task.done}" th:text="${task.content}"></span>
            <s th:if="${task.done}" th:text="${task.content}"></s>
        </a>
    </li>
</ul>
<script src="/js/vendor.js"></script>
<script src="/js/index.js"></script>
</body>
</html>